*{
  margin: 0;
  list-style: none;
}

body {
  font-family: 'Open Sans', sans-serif;
}

/* NAVBAR */
header nav {
  width: 60%;
  margin: auto;

}

.navbar-custom {
  background-color: #F7FAFD;
  color: #333333;
  font-weight: bolder;
  font-size: 1.5em;
  height: 10vh;
}

.navbar-brand img {
  width: 6vw;
}

.navbar-custom a:hover { 
  color: #FF556E;
}

.navbar-button {      
  border: 2px solid #FF556E;
  background-color: #F7FAFD;    
  border-radius: 30px;
  padding: 5px 25px;
  color: #FF556E;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;          
}

/* BANNER */
.banner-container {
  /*background-color: rgb(97, 171, 240);  */
  max-width: 50%;
  margin: 0 auto;
  padding: 2% 8%;
}

h1 {
  color: #333333;
  font-weight: bolder;
  font-size: 70px;
  text-align: center;
}

p {
  color: #7D7D7D;
  font-weight: lighter;
  font-size: 20px;
  text-align: center;
}

.banner-buttons {
  display: flex;
  gap: 0.7 rem;
  justify-content: center;
}

.download-button {
  border: 2px solid #FF556E;
  background-color: #FF556E;
  border-radius: 40px;
  color: #FFFFFF;
  font-weight: bold; 
  margin: 5px; 
  padding: 5px 40px;
  text-decoration: none;
}

.image-container {
  /*background-color: rgb(89, 88, 196); */
  max-width: 50%;;
  margin: 0 auto;
  place-items: center; 
  align-items: center;
}

.iphone-container img{
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}


/* ICONOS */

.functionalities-container {
  max-width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: rgb(236, 229, 122);
  height: 500px;
  
}

.cards-container {
  max-width: 7vw;
  height: 20vh;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: #ec4e4e;
}

.card-circle {
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  background-color: #ec5e5e;
  width: 10vw;
  height: 10vh;
}

.card-text {
  color: #333333;
  font-weight: bold;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: end;
  
}

.icon-users {
  display: flex;
  align-items: center;
  align-items: end;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

i {
  font-size: 3em;
}


/* FOOTER */
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
}

.footer {
  background-color: #F7FAFD;
  padding: 80px 0;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
}

.footer-links {
  width: 25%;
  padding: 0 15px;
}

.footer-links h4 {
  font-size: 2em;
  color: #999999;
  margin-bottom: 2vh;
  font-weight: bolder;
  display: inline-block;
}

.footer-links ul li a {
  font-size: 1.5em;
  text-decoration: none;
  color: #999999;
  display: block;
  transition: all .3s ease;
}

.footer-links ul li a {
  color: #999999;
  padding-left: 6px;
}

.social-media {
  display: inline-block;
  min-height: 40px;
  min-width: 40px;
  background-color: #999999;
  margin: 0 10px 10px 0;
  text-align: center;
  border-radius: 50%;
  transition: all .5s ease;
}

















