*{
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;    
}

.navbar-custom {
    background-color: #F7FAFD; /* color de fondo */
    color: #333333; /* color del texto */
    font-weight: bolder;
    height: 90px;           
  }

  .navbar-brand {
    width: 120px;
  }

/*.navbar-custom a:hover { 
    color: #FF556E;
  } Funciona pero el hover no se mantiene al hacer clic en menú desplagable*/

.rounded-pill {      
    border: 2px solid #FF556E; /* color del borde botón */
    background-color: #F7FAFD;    
    border-radius: 20px; /* para hacerlo más o menos ovalado */
    padding: 5px 25px; /* el espacio alrededor del texto del botón */
    color: #FF556E;
    font-weight: bold;
    text-align: center;
    text-decoration: none;      
  }


/* BANNER */






/* BANNER 

#banner {    
    background-color: rgb(95, 213, 243);
    height: 30vh;
    background-size:cover;
    background-position: center;    
}

.content-banner {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;  
}

.content-banner h1 {  
  color: #333333;  
  font-size: 50px;
  font-weight: bolder; 
  padding: 10px 0; 
}

.content-banner h2 {
  color: #7D7D7D;  
  font-size: 20px;
  font-weight:normal; 
  padding: 10px 0; 
}

.button-banner {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #FF556E;
  border: 3px solid #FF556E;
  padding: 1px 20px;
  align-self: baseline;
}*/













